body {
  margin: 0;
  font-family: Arial;
  background: #0f2027;
  color: white;
}

/* LAYOUT */
.main { display: flex; }
.sidebar {
  width: 250px;
  background: #111;
  padding: 10px;
}
.content { flex: 1; padding: 20px; }

/* SEARCH */
#searchBox {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

/* FILE ITEM */
.file-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #222;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.file-item:hover {
  background: #444;
  transform: translateX(5px);
}

/* CODE */
.code-panel {
  width: 50%;
  background: black;
  padding: 10px;
}
.highlight {
  background: yellow;
  color: black;
}

/* VISUAL */
.visual-panel { width: 50%; text-align: center; }

/* BOX */
.box {
  width: 50px;
  height: 50px;
  background: orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* POINTER */
.pointer {
  border: 2px solid red;
}

/* CONTAINER */
.container { display: flex; }
.file-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.preview {
  font-size: 12px;
  color: #aaa;
}